<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <h5 class="mt-5 text-center">Contactez-moi</h5>
    <div class="margin">
    {{ form_start(contact_form) }}
        {{ form_widget(contact_form) }}
        <div class="text-center">
            <button class="btn btn-info mt-4">Envoyer</button>
        </div>
    {{ form_end(contact_form) }}
</div>

</div>