<a class="clickable-card" data-bs-toggle="modal" data-bs-target="#{{ project.id }}" data-bs-title={{ project.title }} data-bs-description={{ project.description }}>
    <div class="col">
        <div class="card text-center h-100">
                <img src="{{ vich_uploader_asset(project, 'pictureFile') }}" class="card-img-top" alt="project-picture">
            <div class="card-body">
                <div class="card-text mt-2">
                    <h6>{{ project.title }}</h6>
                </div>
            </div>
        </div>
    </div>
</a>

<div class="modal fade" id="{{ project.id }}" tabindex="-1" aria-labelledby="{{ project.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ project.id }}Label"> {{ project.title }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ project.description }}
        </div>
        </div>
    </div>
</div>