<a class="clickable-card" data-bs-toggle="modal" data-bs-target="#{{ project.id }}" data-bs-title={{ project.title }} data-bs-description={{ project.description }}>
    <div class="col">
        <div class="card text-center h-100">
                <img src="{{ vich_uploader_asset(project, 'pictureFile') }}" class="card-img-top" alt="project-picture">
            <div class="card-body">
                <div class="card-text mt-2">
                    <h5>{{ project.title }}</h5>
                </div>
            </div>
        </div>
    </div>
</a>

<div class="modal fade modal-lg" id="{{ project.id }}" tabindex="-1" aria-labelledby="{{ project.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="{{ project.id }}Label"> {{ project.title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-4">{{ project.description|raw }}</div>
                {% if project.mockup is not empty %}
                    <h6><strong> Maquette </strong> <a href="{{ project.mockup }}" target="_blank"><img src="{{ asset('build/images/link.png') }}" alt="link-picto"/></a></h6>
                {% endif %}
                <h6><strong> Date : </strong> {{ project.createdAt|date('m-Y') }} | <strong> Durée : </strong> {{ project.duration }}</h6>
                <div class="row">
                    <div class="col-lg-1">
                        <h6><strong> Skills : </strong></h6>
                    </div>
                    <div class="col-lg-11">
                        <ul id="desktop-skills" class="list-group list-group-horizontal mb-2">
                            {% for skill in project.skills %}
                                <li  id="skills" class="list-group-item">{{ skill.name }}</li> 
                            {% endfor %}
                        </ul>
                        <ul id="mobile-skills">
                            {% for skill in project.skills %}
                                <li  id="skills">{{ skill.name }}</li> 
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if project.commits is not empty and project.commits > 0 %}
                <h6><strong> Commits : </strong> {{ project.commits }}</h6>
                {% endif %}
                <div class="row">
                    <div id="languages" class="col-lg-2">
                        <h6><strong> Langages % </strong></h6>
                    </div>

                    {% set bootstrapClasses = ['bg-danger', 'bg-warning', 'bg-success', 'bg-light'] %}
                    {% set segmentNumbers = ['One', 'Two', 'Three', 'Four', 'Five'] %}
                    {% set classIndex = 0 %}

                    <div class="col-lg-10">
                        <div class="progress-stacked mb-4">
                            {% for language, bytes in project.githubLanguages %}
                                {% set languageClass = bootstrapClasses[classIndex] ?? '' %}
                                {% set segmentNumber = segmentNumbers[classIndex] ?? 'N/A' %}
                                <div class="progress" role="progressbar" aria-label="Segment {{ segmentNumber }}" aria-valuenow="{{ bytes }}" aria-valuemin="0" aria-valuemax="99" style="width: {{ bytes }}%">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated {{ languageClass }}">{{ language|replace({'JavaScript': 'JS'})|upper }}</div>
                                </div>
                                {% set classIndex = (classIndex + 1) % bootstrapClasses|length %}
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
                {% if project.video is not empty %}
                    <div class="text-center" style="position: relative; padding-bottom: 56.25%; height: 0; margin: 0 auto;">
                        <iframe src="{{ project.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                    </div>
                {% endif %}
                {% if project.link is not empty %}
                    <a href="{{ project.link }}" target="_blank" class="btn active" role="button" data-bs-toggle="button" aria-pressed="true">Accéder au site</a>
                {% endif %}
            </div> 
        </div>
    </div>
</div>
