<div class="mb-2">
    {{ form_start(skills_form) }}
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" type="button" id="dropdown-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ field_label(skills_form.skills) }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown-menu-btn" style="width: 100%;">    
            {% for label, value in field_choices(skills_form.skills) %}
                <div class="dropdown-item">
                    <input class="form-check-input border-success" type="checkbox" name="{{ field_name(skills_form.skills) }}[]" value="{{ value }}" id="flexCheckDefault" {{ value in field_value(skills_form.skills) ? 'checked' : '' }}>
                    <label class="form-check-label" for="flexCheckDefault"> {{ label }} </label>
                </div>
            {% endfor %}       
            <button class="btn btn-secondary mt-2 mb-2 ms-2">Rechercher</button>       
        </div>   
    </div>   
    {{ form_end(skills_form) }}
</div>