{% extends 'base.html.twig' %}

{% block title %}My Projects{% endblock %}

{% block body %}
    <div class="margin">
        <h1 class="mt-2"> My Projects</h1>
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-secondary mb-2" role="button" href="{{ path('admin_project_new') }}">new project</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Duration</th>
                    <th>CreatedAt</th>
                    <th>Github</th>
                    <th>Picture</th>
                    <th>Video</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.Title }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.duration }}</td>
                    <td>{{ project.createdAt ? project.createdAt|date('Y-m-d') : '' }}</td>
                    <td>{{ project.github }}</td>
                    <td>{{ project.picture }}</td>
                    <td>{{ project.video }}</td>
                    <td>
                        <a href="{{ path('admin_project_show', {'id': project.id}) }}">show</a>
                        <a href="{{ path('admin_project_edit', {'id': project.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
